@tailwind base;
@tailwind components;
@tailwind utilities;

/* Manuka Font Family */
@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Thin-BF663c33db97e05.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Light-BF663c33db8aab4.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Regular-BF663c33db89825.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Medium-BF663c33db67c40.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Bold-BF663c33db7b03f.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manuka";
  src: url("./assets/manuka-font-family-1749104552-0/TestManuka-Black-BF663c33db5944e.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    transition: color 0.2s;
  }

  body {
    background-color: #eae1cf;
    color: #222222;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
    }
  }
}

/* Global container padding */
section > div:first-child,
nav,
.container,
[class*="max-w-"] {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

/* Remove max-width constraints */
[class*="max-w-"] {
  max-width: 100% !important;
}
